#
.idea


# front_end

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production

# dist
dist.rar
/front_end/dist/.*

# node_modules
/front_end/node_module/.*


# service_end
__pycache__/
*.py[cod]
venv/
/log_file
nohup*
stats.rtf

# 下载文件不上传
/service_end/file_download/excel/[wW]*
/service_end/file_download/images/[wW]*

