html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 150ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}

#root > .ant-card {
  height: 100% !important; 
}

.ant-form-item {
  margin: 0 !important;
}